* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body.bg-input {
    background: linear-gradient(135deg, #9a1a1a, #c38625);
    display: flex;
    justify-content: center;
    align-items: center;
}

body.bg-hasil {
    background: linear-gradient(135deg, #1a1a1a, #444);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #000;
    width: 380px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,.4);
    text-align: center;
    color: white;
}

.hasil {
    background: #fff;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}