* { 
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #9a1a1a, #c38625);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgb(0,0,0,);
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0,.2) ;
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #e7e1e1;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(135deg, #9a1a1a, #c38625);
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.hasil {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    color: #ffffff;
}

.back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #b7a700;
    font-weight: bold;
}